/* CSS Reset Properties */

body, main, article, section, header, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    flex-grow: 1;
    text-align: center;
    color: white;
    text-decoration: none;
    border: white 2px solid;
    padding: 5px;
}

nav a:hover {
    color: black;
    background-color: white;
}

body {
    padding: 100px;
    font-size: 16px;
    background-color: black;
    color: white;
}

section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5px;

}
/* individual class for section background images*/

.em {
    background-image: url(../fluid-dimensions/raw-images/JPEG/Water_01.jpg);
    border: solid orange 1em;
    font-size: 1.2em;
}

.rem {
    background-image: url(../fluid-dimensions/raw-images/JPEG/Water_02.jpg);
    border: dotted darkred .5rem;
}

.percent {
    background-image: url(../fluid-dimensions/raw-images/JPEG/Water_03.jpg);
}

.percent p {
    width: 75%;
}

.box {
    background-image: url(../fluid-dimensions/raw-images/JPEG/Water_04.jpg);
    box-sizing: border-box;
    border: solid dodgerblue 3em;
}

.vw {
    background-image: url(../fluid-dimensions/raw-images/JPEG/Water_05.jpg);
    border: dashed 1vw;
    font-size: 1vw;
    box-sizing: border-box;
}

.hero {
    /* background-image: url(../fluid-dimensions/raw-images/JPEG/Water_06.jpg); */
    border-top-right-radius: 2em;
    /* border: solid black 2px; */
}

.hero p {
    width: 90%;
}