body {
    font-family: 'Roboto', sans-serif;
}
header {
    background-color:violet;
}
nav {
    background-color: blueviolet;
}
main {
    background-color: pink;
}
ul {
    background-color: chartreuse;
}
li {
    background-color: darkorchid;
}
footer {
    background-color: coral;
}